# Ques 1 - Discuss string slicing and provide examples.

In [ ]:

#Answer1-
#String slicing is the process of extracting a portion of a string using its index positions. In Python, strings are indexed starting from 0 for the first character, 1 for the second character, and so on. Negative indexing is also supported, where -1 represents the last character, -2 represents the second-to-last character, and so on.

In [1]:
a="pwskills"
a[0:5]

'pwski'

In [2]:
b=[1,2,3,4,5,6,7,8,9]
b[1:10:2]

[2, 4, 6, 8]

# Ques 2 - Explain the key features of lists in Python.

In [ ]:
'''
Answer2
1.Ordered and Mutable: Lists maintain the order of elements and allow modifications after creation. You can add, remove, or change elements within a list.
2.Heterogeneous Elements: Lists can store elements of different data types, including numbers, strings, booleans, and even other lists.
3.Indexed Access: Elements in a list are accessible using their index positions, starting from 0 for the first element. Negative indexing is also supported.
4.Iterable: You can iterate through the elements of a list using loops like for loops.
5.Nesting: Lists can be nested, meaning a list can contain other lists as its elements, creating hierarchical structures.
'''

# Ques 3 - Describe how to access, modify, and delete elements in a list with examples.

In [6]:
#Answer3
#example1-

grocery_list=['apple','mango','guava','potato','oil']
grocery_list[1] #accessing element

'mango'

In [7]:
grocery_list[0]='cucumber' #modifying element

In [8]:
print(grocery_list)

['cucumber', 'mango', 'guava', 'potato', 'oil']

In [12]:
del grocery_list[1] #delete elements

In [13]:
print(grocery_list)

['cucumber', 'guava', 'oil']

In [14]:
#example2-

student_list=['ram','shyam','geeta']
student_list[-1] #accessing element

'geeta'

In [17]:
student_list[-2]='sita' #modifying element

In [18]:
print(student_list)

['ram', 'sita', 'geeta']

In [21]:
del student_list[0] #delete elements

In [22]:
print(student_list)

['sita', 'geeta']

# Ques 4 - Compare and contrast tuples and lists with examples.

In [ ]:
'''
Answer4

List:An ordered, mutable collection of items (elements) that can be of different data types. Lists are defined using square brackets [] and allow for adding, removing, and changing elements.
Features:
Mutable: Elements can be modified after creation (add, remove, change).
Defined using square brackets []: my_list = [1, 2, 3]
Typically used for collections that may change.

Tupels:An ordered, immutable collection of items (elements) that can be of different data types. Tuples are defined using parentheses () and their elements cannot be modified after creation.
Features:
Immutable: Elements cannot be modified after creation.
Defined using parentheses (): my_tuple = (1, 2, 3)
Typically used for collections that should remain constant.

In [25]:
#Example of list:
grocery_list=['apple','mango','guava','potato','oil']
grocery_list[1]='kiwi' #mutable
print(grocery_list)

['apple', 'kiwi', 'guava', 'potato', 'oil']

In [26]:
#Example of tuples:
tuple1=('apple','mango','guava','potato','oil')
tuple1[1]='kiwi' #immutable
print(tuple1)

TypeError: 'tuple' object does not support item assignment

# Ques 5 - Describe the key features of sets and provide examples of their use.

In [ ]:
'''
Answer5

Key Features of Sets

1.Unordered: Sets are unordered collections, meaning the elements have no specific order. The order you insert elements might not be the same when you access them.
2.Mutable: Sets are mutable, allowing you to add or remove elements after creation. However, the elements themselves within the set must be immutable (like numbers, strings, or tuples).
3.Unique Elements: Sets only contain unique elements. If you try to add a duplicate element, it won't be added to the set.
4.No Indexing: Since sets are unordered, you cannot access elements using indexing like lists or tuples.
5.Set Operations: Sets support mathematical set operations like union, intersection, difference, and more.
'''

In [30]:
List1=[1,2,3,2,2,23,3,4,5]
print(List1)

[1, 2, 3, 2, 2, 23, 3, 4, 5]

In [33]:
set1=set(List1) # set removes duplicates and provide unique value only
print (set1)

{1, 2, 3, 4, 5, 23}

In [34]:
3 in set1 #checking element in set

True

In [35]:
set2={'apple','mango','grapes','banana'} #set operations
set3={'banana','kiwi','orange'}
print(set2|set3) #union
print(set2&set3) #intersection
print(set2-set3) #differnce
print(set2^set3) #symmetric difference

{'grapes', 'banana', 'orange', 'kiwi', 'apple', 'mango'}
{'banana'}
{'grapes', 'mango', 'apple'}
{'grapes', 'mango', 'orange', 'kiwi', 'apple'}

# Ques 6 - Discuss the use cases of tuples and sets in Python programming.

In [ ]:
'''
Answer6
Tuples

Use Cases:

Representing a fixed collection of items that should not be changed.
Returning multiple values from a function.
Creating records or data structures where immutability is desired (e.g., representing a point in 2D space as (x, y)).
Used as keys in dictionaries since they are immutable.

Sets

Use Cases:

Removing duplicates from a list or other collection.
Performing mathematical set operations like union, intersection, and difference.
Membership testing (checking if an element is present in a set).
Representing collections where order is not important and uniqueness is desired.

'''

In [36]:
#examples of tuples

Emp_id=(101,102,103,104) #immutable
print(Emp_id)

(101, 102, 103, 104)

In [38]:
student_scores = {("Alice", "Math"): 95, ("Bob", "Science"): 88}

In [40]:
print(student_scores) #used in dictionary

{('Alice', 'Math'): 95, ('Bob', 'Science'): 88}

In [42]:
#examples of tuples
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)

In [44]:
print(unique_numbers)

{1, 2, 3, 4, 5}

In [45]:
3 in unique_numbers

True

In [46]:
a=frozenset([1,2,3,4,5]) #frozenset is immutable

In [47]:
a

frozenset({1, 2, 3, 4, 5})

In [55]:
a.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

# Ques 7 - Describe how to add, modify, and delete items in a dictionary with examples.

In [56]:
#answer7
#example 1

student_scores = {'name':'ram','age':20,'grade':'A'}
type(student_scores)

dict

In [57]:
student_scores = {'name':'ram','age':20,'grade':'A'} #add element
student_scores['city']='delhi'
print(student_scores)

{'name': 'ram', 'age': 20, 'grade': 'A', 'city': 'delhi'}

In [58]:
student_scores = {'name':'ram','age':20,'grade':'A'} #modify element
student_scores['age']=21
print(student_scores)

{'name': 'ram', 'age': 21, 'grade': 'A'}

In [59]:
student_scores = {'name':'ram','age':20,'grade':'A'} #delete item
del student_scores['grade']
print(student_scores)

{'name': 'ram', 'age': 20}

In [60]:
#example 2

z={'a':1,'b':2,'c':3} #add element
z['d']=4
print(z)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [61]:
z={'a':1,'b':2,'c':3} #modify element
z['a']=5
print(z)

{'a': 5, 'b': 2, 'c': 3}

In [62]:
z={'a':1,'b':2,'c':3} #del element
del z['b']
print(z)

{'a': 1, 'c': 3}

# Ques 8 -  Discuss the importance of dictionary keys being immutable and provide examples.

In [ ]:
'''
answer 8

mportance: Dictionary keys need to be immutable because they are used to organize and access the dictionary's data efficiently. If keys were mutable (changeable), it would be difficult for the dictionary to keep track of where things are stored.

Examples:

Good keys: strings, numbers, tuples (because they are immutable)
Bad keys: lists, dictionaries (because they are mutable)

'''

In [65]:
my_dict = {1:'value1','name':'alice',(1,2):'tuple'}
print(my_dict)

{1: 'value1', 'name': 'alice', (1, 2): 'tuple'}

In [66]:
my_dict2 ={[1,2]:'list'} #immutable key

TypeError: unhashable type: 'list'